.container{
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    
}
.carddimmed {
    opacity: 0.4;
    pointer-events: none; /* Prevents user interactions */
    cursor: not-allowed;  /* Shows a disabled cursor */
}
.newOne{
    height: 50px;
    background-color: black;
    color: white;
    font-size: 30px;
}
